{
  "CY_GITHUB_TEST_UID": "",
  "CY_GITHUB_PAT": "",
  "CY_GITHUB_OWNER": "",

  "BITBUCKET_TEST_UID": "",
  "BITBUCKET_PAT": "",
  "BITBUCKET_OWNER": "",

  "GITLAB_TEST_UID": "",
  "GITLAB_PAT": "",
  "GITLAB_OWNER": "",

  "FIREBASE_API_KEY": "",
  "FIREBASE_AUTH_DOMAIN": "",
  "FIREBASE_PROJECT_ID": "",
  "FIREBASE_STORAGE_BUCKET": "",
  "FIREBASE_MESSAGING_SENDER_ID": "",
  "FIREBASE_APP_ID": "",
  "FIREBASE_MEASUREMENT_ID": ""
}
